/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*
body, html{
	height: 100%;
	width:100%;
}
*/
body{
	font-size: 1rem;
	font-family: 'Source Sans Pro', sans-serif;
}

/* ========== Universal Stylings ========== */
h1,h2,h3,h4,h5{
	position: relative;
	font-family: 'Montserrat', sans-serif;
}
h6{
	position: relative;
	text-transform: uppercase;
}
.bg-primary{
	background-color: #35CBDF!important;
}
.text-inverse{
	color: #074052;
}
.text-primary{
	color: #35CBDF!important;
}
.btn{
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 600;

}
.btn-primary{
	background-color: #35CBDF;
	border-color: #35CBDF;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.4)
}
.btn-primary:hover,.btn-primary:focus{
	background-color: #00BED7;
	border-color: #00BED7;
}
.btn-capsul{
	border-radius: 50px;
}

.btn-aqua {
	background: #0297FF;
	color: #fff;
}
.btn-aqua:hover {
	background: #10629b;
	color: #fff;
}
.btn-dark-blue {
	background: #0C242E;
	color: #fff;
}
.btn-dark-blue:hover {
	background: #063d28;
	color: #fff;
}
.btn-transparent-white {
	border: 2px solid #fff;
	color: #fff;
}
.btn-transparent-white:hover, .btn-transparent-white:focus {
	background: #fff;
	color: #0297FF
}

i.box-circle-outline{
	border-color: inherit;
	border-width: 1px;
	border-style:solid;
	border-radius: 50%;
	height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
i.box-circle-solid{
	background-color:#35CBDF;
	border-radius: 50%;
    color: #fff;
    font-size: 22px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    width: 55px;
}
.text-underline-white:before{
	content:"";
	position: absolute;
	width:100px;
	height: 4px;
	left:50%;
	margin-left:-50px;
	background:#fff;
	bottom: -15px;
	border-radius: 10px;
}
.text-underline-rb-white:before{
	content:"";
	position: absolute;
	width:100px;
	height: 4px;
	left:0;
	background:#fff;
	bottom: -15px;
	border-radius: 10px;
}
.text-underline-primary:before{
	content:"";
	position: absolute;
	width:50px;
	height: 4px;
	left:50%;
	margin-left:-25px;
	background:#35CBDF;
	bottom: -15px;
	border-radius: 10px;
}
.text-underline-rb-primary:before{
	content:"";
	position: absolute;
	width:100px;
	height: 4px;
	left:0;
	background:#35CBDF;
	bottom: -15px;
	border-radius: 10px;
}
.bg-overlay:before{
	content:"";
	background:rgba(0,0,0,0.7);
	position: absolute;
	height: 100%;
	width:100%;
	left:0;
	top:0;
	z-index: -1;
}
.bg-overlay-light:before{
	content:"";
	background:rgba(0,0,0,0.4);
	position: absolute;
	height: 100%;
	width:100%;
	left:0;
	top:0;
	z-index: -1;
}
.parallax{
	background-attachment: fixed!important;
}


/* ========== Loader ========== */

.loaders {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
}
.loaders .loader {
	box-sizing: border-box;
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 25%;
	max-width: 25%;
	height: 200px;
	align-items: center;
	justify-content: center;
}
.loader {
	display: table;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 1200;
}
.loader-bg {
	background: #35CBDF;
}
.loader-inner {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.loader .ball-clip-rotate-pulse {
    left: 50%;
    position: absolute;
    top: 50%;
}

/* ========== Top Navigation ========== */
.top-nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 80px;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}
.top-nav .navbar-nav li .nav-link {
    color: #fff;
    font-size: 14px;
    padding:29px 15px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}
.top-nav li a.nav-link:hover, .top-nav .nav-item.active a.nav-link{
    border-bottom: 3px solid #35cbdf;
    color: #35cbdf;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}
.top-nav .navbar-brand{
	font-size: 28px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
.top-nav.light-header{
	height: 60px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.23);
	transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}
.top-nav.light-header .navbar-brand{
	color: #212121;
}
.top-nav.light-header .navbar-nav li .nav-link {
    color: #212121;
    padding: 19px 15px;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}

.top-nav.light-header li a.nav-link:hover, .top-nav.light-header .nav-item.active a.nav-link{
	border-bottom: 3px solid #35cbdf;
    color: #35cbdf;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}

@media (max-width: 767px){

    .top-nav .navbar-toggler i {
    color: #fff;
    margin-top: 6px;
    }
    .top-nav.light-header .navbar-toggler i {
    color: #00BED7;
    }
    .top-nav  .navbar-collapse.show {
    background-color: #fff;
    text-align: center;
    padding: 12px 0;
    }
    .top-nav .navbar-collapse.show a{
    color: #000;
    }
}
.btn-theme{background-color:#35CBDF; color:#fff;}

.head{
  position: relative;
  padding-bottom:2px;
  padding-top: 100px;
}
.head img {
  width: 25vw;
}

.head h1{
  color: white;
  font-size: 2.5vw;
}

.low {
  padding-top: 50px;
}

.head h4 {
  color: white;
}

.head a {
  padding-left: 25vw;
}

.tecno {
  background-color: #59a5ed;
  color: white;
}

.tecno h4{
  padding-top: 50px;
  padding-left: 8vw;
  font-size: 55px;
	font-weight: 800;
	margin-top: 10%;

}

@media (min-width:320px) and (max-width: 500px) {
	.tecno h4 {
		font-size: 6vw;
	}
}

.tecno-img{
  background-image: url('../img/webdev.jpg');
  height: 35vw;
  background-repeat: no-repeat;
}

.tecno2 {
  background-color: rgb(255,82,82);
  padding-bottom: 5%;
  text-align: center;
}

.tecno2 h5 {
  font-size: 55px;
	font-weight: 800;
	margin-top: 5%;
  padding-left: 15vw;
  color: white;
}

@media (min-width:320px) and (max-width: 500px) {
	.tecno2 h5 {
		font-size: 6vw;
	}
}

.tecnologies {
  padding-top: 40px;
}

.tecnologies .col-sm-2 img {
  -webkit-transition:all .9s ease; /* Safari y Chrome */
  -moz-transition:all .9s ease; /* Firefox */
  -o-transition:all .9s ease; /* IE 9 */
  -ms-transition:all .9s ease; /* Opera */
}

.tecnologies .col-sm-2 img:hover {
  /*height: 7.5vw;*/
  -webkit-transform:scale(1.25);
  -moz-transform:scale(1.25);
  -ms-transform:scale(1.25);
  -o-transform:scale(1.25);
  transform:scale(1.25);

}

@media (min-width:320px) and (max-width: 500px) {
	.tecnologies .col-sm-2 img {
		padding-top: 10px;
	}
}

/* ABOUT SECTION
-------------------------------------------------- */
.about-sec {
	background: url('../img/switch.jpg') no-repeat center center;
	background-size: cover;
	color: #fff;
	position: relative;
}
.about-sec:before {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(22,122,192,0.8);
	top: 0;
	left: 0
}
.about-sec h2 {
	font-size: 55px;
	font-weight: 800;
	margin-top: 25%;
}
.about-sec h2 small {
	display: block;
	font-size: 24px;
	margin-bottom: 15px;
	padding-left: 10px;
}
.about-sec p {
	font-size: 16px;

}

.about-sec ul li {
  color: white;
  font-size: 1.2rem;
}
/*end about*/


.tecnicos .jumbotron {
  background-color: #75b600;
  padding-top: 20px;
  padding-bottom: 15px;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.tecnicos .jumbotron:hover {
  background-color: #d52f5b;

}

.tecnicos .col-md-7 h2 {
  padding-left: 2vw;
}

.tecnicos .col-md-7 p {
  font-size: 1.2rem;
  font-style: italic;
  padding-top: 15px;
}

.tecnicos .col-md-7 img {
  width: 45%;
  -webkit-transition:all .9s ease; /* Safari y Chrome */
  -moz-transition:all .9s ease; /* Firefox */
  -o-transition:all .9s ease; /* IE 9 */
  -ms-transition:all .9s ease; /* Opera */
}

.tecnicos .col-md-7 img:hover {
  width: 45%;
  -webkit-transform:scale(1.25);
  -moz-transform:scale(1.25);
  -ms-transform:scale(1.25);
  -o-transform:scale(1.25);
  transform:scale(1.25);
}

@media (min-width:320px) and (max-width: 500px) {
	.tecnicos .col-md-7 img {
		padding-left: 30vw;
		width: 65%
	}
	.tecnicos .col-md-7 p {
		padding-left: 25vw;
	}

	.tecnicos .col-md-7 img:hover {
	  width: 70%;
	  -webkit-transform:scale(1.25);
	  -moz-transform:scale(1.25);
	  -ms-transform:scale(1.25);
	  -o-transform:scale(1.25);
	  transform:scale(1.25);
	}
}

p {
  font-size: 1.2rem;
	font-family: 'Source Sans Pro', sans-serif;
}

/*Video*/
.video-setting{
  position: absolute;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

#videoheader{
  height: 75vh;
}

#videoheader .video-sample.visible {
  opacity: 1;
}
#videoheader .video-sample {
  z-index: 0;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 70%;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: opacity .7s linear;
  -moz-transition: opacity .7s linear;
  transition: opacity .7s linear;

}
@media screen and (max-width: 700px){


.visible {
  opacity: 0;
}
}

/**footer**/
.footer1{
 background-color: #212529;
 color: white;

}
.footer1 h2{
	margin: 5px;
	padding: 8px;
	font-size: 25px;


}
.footer1 a{
	color: white;
}
.footer1 a:hover{
	color: ;
}

.footer1 p{
	margin: 5px;
	padding-top: 2px;
	padding-left: 10px;
	font-size: 18px;


}
.footer1 h2{margin: 5px;
	padding: 5px;
	border-bottom: 1px solid white;


}
/*==========================footer2===========================*/
.footer2{

	background-color: rgb(255,82,82);
	color: white;

}
.footer2 p{
	margin: 8px;
	padding: 8px;
	font-size: 16px;


}
.myframegmap{

    height: 130px;
    width: 80%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;

}

.footer2 img {
  height: 20px;
}


.mobileShow {
	display:none;
}

/*Smartphone portrait and landscape*/
@media only screen and (min-width : 320px) and (max-width:480px){
	.mobileShow{
		display: inline;

	}
}

.mobileHide{
display: inline;
}

@media (min-width:320px) and (max-width: 500px) {
	.mobileHide {
		display: none;
	}

	header {
		/*background-color: #00073AFF;*/
		background-image: url('../img/businessman.jpg');

	}
}
