/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*
body, html{
	height: 100%;
	width:100%;
}

*/
/*PreLoader*/

.hameid-loader-overlay {
        width: 100%;
        height: 100%;
        background: url('../img/squares-load.gif') center no-repeat #FFF;
        z-index: 99999;
        position: fixed;
}

body{
	font-size: 1rem;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #f0f5f6;
}

/* ========== Universal Stylings ========== */
h1,h2,h3,h4,h5{
	position: relative;
	font-family: 'Montserrat', sans-serif;
}

h2{
  padding-top: 50px;
  padding-left: 8vw;
  font-size: 55px;
	font-weight: 800;
	margin-top: 10%;
	color: white;

}

@media (max-width: 500px) {
	h2 {
		font-size: 6vw;
		padding-left: 2vw;
	}
}

h6{
	position: relative;
	text-transform: uppercase;
}

p {
  font-size: 1.2rem;
	font-family: 'Source Sans Pro', sans-serif;
}


/*Video*/
.video-setting{
  position: absolute;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

#videoheader{
  height: 75vh;
}

#videoheader .video-sample.visible {
  opacity: 1;
}
#videoheader .video-sample {
  z-index: 0;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 80%;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: opacity .7s linear;
  -moz-transition: opacity .7s linear;
  transition: opacity .7s linear;

}
@media screen and (max-width: 700px){


.visible {
  opacity: 0;
	}
}

/*Botones*/
.bg-primary{
	background-color: #35CBDF!important;

}
.text-inverse{
	color: #074052;
}
.text-primary{
	color: #35CBDF!important;
}
.btn{
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 1px;
	padding: 15px 32px;

}
.btn-primary{
	/*background-color: #35CBDF;*/
  background-color: #00AEEFFF;
	border-color: #00AEEFFF;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.4)
}
.btn-primary:hover,.btn-primary:focus{
	/*background-color: #00BED7;*/
  background-color: #ED863CFF;
  border-color: #00BED7;
}
.btn-capsul{
	border-radius: 50px;
}

.btn-aqua {
	background: #0297FF;
	color: #fff;
}
.btn-aqua:hover {
	background: #10629b;
	color: #fff;
}
.btn-dark-blue {
	background: #0C242E;
	color: #fff;
}
.btn-dark-blue:hover {
	background: #ED863CFF;
	color: #fff;
}
.btn-transparent-white {
	border: 2px solid #fff;
	color: #fff;
}
.btn-transparent-white:hover, .btn-transparent-white:focus {
	background: #fff;
	color: #0297FF
}

i.box-circle-outline{
	border-color: inherit;
	border-width: 1px;
	border-style:solid;
	border-radius: 50%;
	height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
i.box-circle-solid{
	background-color:#35CBDF;
	border-radius: 50%;
    color: #fff;
    font-size: 22px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    width: 55px;
}

/* ========== Top Navigation ========== */
.top-nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    height: 80px;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}
.top-nav .navbar-nav li .nav-link {
    color: #fff;
    font-size: 14px;
    padding:29px 15px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}
.top-nav li a.nav-link:hover, .top-nav .nav-item.active a.nav-link{
    border-bottom: 3px solid #35cbdf;
    color: #35cbdf;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}
.top-nav .navbar-brand{
	font-size: 28px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
.top-nav.light-header{
	height: 60px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.23);
	transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}
.top-nav.light-header .navbar-brand{
	color: #212121;
}
.top-nav.light-header .navbar-nav li .nav-link {
    color: #212121;
    padding: 19px 15px;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}

.top-nav.light-header li a.nav-link:hover, .top-nav.light-header .nav-item.active a.nav-link{
	border-bottom: 3px solid #35cbdf;
    color: #35cbdf;
    transition: 0.5s ease-in;
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
}

@media (max-width: 767px){

    .top-nav .navbar-toggler i {
    color: #fff;
    margin-top: 6px;
    }
    .top-nav.light-header .navbar-toggler i {
    color: #00BED7;
    }
    .top-nav  .navbar-collapse.show {
    background-color: #fff;
    text-align: center;
    padding: 12px 0;
    }
    .top-nav .navbar-collapse.show a{
    color: #000;
    }
}
.btn-theme{background-color:#35CBDF; color:#fff;}

.head{
  position: relative;
  padding-bottom:2px;
  padding-top: 100px;
}
.head img {
  width: 25vw;
}
/*Logo de beemsites*/
@media (max-width: 700px) {
	.head img {
		padding-left: 20vw;
		width: 42vw;
	}
}

.head h1{
  color: white;
  font-size: 2.5vw;
}
@media (max-width: 700px) {
	.head h1 {
		font-size: 14px;
	}
}

.low {
  padding-top: 50px;
}

@media (max-width: 700px) {
	.low {
		padding-top: 12px;
	}
}

.head a {
  padding-left: 25vw;
}
.tecno {
  background-color: #011A31FF;
  color: white;
}

.tecno .ml-4 {
	padding-left: 6vw;
}

.tecno-img{
  background-image: url('../img/webdev.jpg');
  height: 35vw;
  background-repeat: no-repeat;
}

.tecno-img2{
  background-color: #011A31FF;
}

@media (max-width: 700px) {
	.tecno-img{
	  height: 65vh;
	  background-repeat: no-repeat;
	}
}

.tecno2 {
  background-color: #43ABEEFF;
  padding-bottom: 5%;
  text-align: center;


  background: rgba(1,26,49,1);
  background: -moz-linear-gradient(top, rgba(1,26,49,1) 0%, rgba(33,180,226,1) 60%, rgba(183,222,237,1) 99%, rgba(183,222,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(1,26,49,1)), color-stop(60%, rgba(33,180,226,1)), color-stop(99%, rgba(183,222,237,1)), color-stop(100%, rgba(183,222,237,1)));
  background: -webkit-linear-gradient(top, rgba(1,26,49,1) 0%, rgba(33,180,226,1) 60%, rgba(183,222,237,1) 99%, rgba(183,222,237,1) 100%);
  background: -o-linear-gradient(top, rgba(1,26,49,1) 0%, rgba(33,180,226,1) 60%, rgba(183,222,237,1) 99%, rgba(183,222,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(1,26,49,1) 0%, rgba(33,180,226,1) 60%, rgba(183,222,237,1) 99%, rgba(183,222,237,1) 100%);
  background: linear-gradient(to bottom, rgba(1,26,49,1) 0%, rgba(33,180,226,1) 60%, rgba(183,222,237,1) 99%, rgba(183,222,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#011a31', endColorstr='#b7deed', GradientType=0 );

}

.tecno2 h2 {
  font-size: 55px;
	margin-top: 4%;
  padding-left: 4vw;
}

@media (max-width: 500px) {
	.tecno2	h2 {
			font-size: 6vw;
			padding-left: 4vw;
	}
}

.tecnologies {
  padding-top: 40px;
}

.tecnologies .col-sm-2 img {
  padding-top: 40px;
  -webkit-transition:all .9s ease; /* Safari y Chrome */
  -moz-transition:all .9s ease; /* Firefox */
  -o-transition:all .9s ease; /* IE 9 */
  -ms-transition:all .9s ease; /* Opera */
}

.tecnologies .inverted img {
  filter: invert(100%);
}

.tecnologies .col-sm-2 img:hover {
  /*height: 7.5vw;*/
  -webkit-transform:scale(1.25);
  -moz-transform:scale(1.25);
  -ms-transform:scale(1.25);
  -o-transform:scale(1.25);
  transform:scale(1.25);

}

@media (max-width: 500px) {
	.tecnologies .col-sm-2 img {
		padding-top: 10px;
	}
}

/*Seccion de desarrollo de apps y software corporativo*/
.software .business-man {
	background-image: url('../img/beard-guy.jpg');
  height: 35vw;
  background-repeat: no-repeat;
  background-size: 150%;
}

@media (max-width: 700px) {
	.software .business-man {
		background-image: url('../img/beard-guy.jpg');
	  height: 35vw;
	  background-repeat: no-repeat;
	  background-size: 100%;
	}
}

.software {
	background-color: white;
	background-image: url('../img/353.png');
	background-size: 100%;
	background-repeat: repeat;

}

@media (max-width: 700px) {
	.software {
		background-image: url('../img/app-pattern.png');
		background-size: 150%;
		padding-bottom: 80px;
		background-repeat: repeat;
	}
}

.bridge-software {
		background-color: #011A31FF;
		height: 50vh;
}

.bridge-software p {
	padding-top: 50px;
	color: white;
	font-style: italic;
}

.software .pc-img img {
	height: 550px;
}

@media (max-width: 700px) {

	.software .pc-img img {
		height: 60vw;
	}

	.bridge-software {
		height: 100vh;
	}
}


/* Seccion de Soporte tecnico
-------------------------------------------------- */
.about-sec {
	background: url('../img/switch.jpg') no-repeat center center;
	background-size: cover;
	color: #fff;
	position: relative;
}
.about-sec:before {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(1,26,49,0.8);
	top: 0;
	left: 0
}
.about-sec h2 {
	font-size: 55px;
	font-weight: 800;
	margin-top: 25%;
}
.about-sec h2 small {
	display: block;
	font-size: 24px;
	margin-bottom: 15px;
	padding-left: 4px;
}
.about-sec p {
	font-size: 16px;

}

.about-sec ul li {
  color: white;
  font-size: 1.2rem;
}
/*end about*/

.tecnicos .jumbotron {
  background-color: #75b600;
  padding-top: 20px;
  padding-bottom: 15px;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.tecnicos .jumbotron:hover {
  background-color: #d52f5b;

}

.tecnicos .col-md-7 h2 {
  padding-left: 2vw;
}

.tecnicos .col-md-7 p {
  font-size: 1.2rem;
  font-style: italic;
  padding-top: 15px;
}

.tecnicos .col-md-7 img {
  width: 45%;
  -webkit-transition:all .9s ease; /* Safari y Chrome */
  -moz-transition:all .9s ease; /* Firefox */
  -o-transition:all .9s ease; /* IE 9 */
  -ms-transition:all .9s ease; /* Opera */
}

.tecnicos .col-md-7 img:hover {
  width: 45%;
  -webkit-transform:scale(1.25);
  -moz-transform:scale(1.25);
  -ms-transform:scale(1.25);
  -o-transform:scale(1.25);
  transform:scale(1.25);
}

@media (max-width: 700px) {
	.tecnicos .col-md-7 img {
		padding-left: 30vw;
		width: 65%
	}
	.tecnicos .col-md-7 p {
		padding-left: 25vw;
	}

	.tecnicos .col-md-7 img:hover {
	  width: 70%;
	  -webkit-transform:scale(1.25);
	  -moz-transform:scale(1.25);
	  -ms-transform:scale(1.25);
	  -o-transform:scale(1.25);
	  transform:scale(1.25);
	}
}

/*Paquetes*/

#packs {
		/*background-color: white;*/
    background-color: rgba(1,26,49,0.8);
		padding-bottom: 80px;
		background-image: url('../img/colors.png');
	  background-size: 80%;
	  background-repeat: no-repeat;

}

#packs h2 {
	/*color: #7d8aa4;*/
	padding-top: 20px;
	margin-top: 5%;
}

@media (max-width: 700px) {
	#packs {
			/*background-color: white;*/
      background: rgba(1,26,49,0.8);
			padding-bottom: 80px;
			background-image: url('../img/colors.png');
		  background-size: 120%;
		  background-repeat: repeat;
	}
}

.best-plan{
	margin: 0 auto 30px auto;
	position: relative;
	z-index: 99;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	line-height: 1.55;
	color: rgba(51,51,51,1);
	font-weight: 300;
}

.best-plan__head{
	text-align: center;
	margin-bottom: 45px;
}

.best-plan__title{
	font-size: 36px;
	margin-bottom: 15px;
	margin-top:50px;
	font-weight: 800;
	color:#3c2f17;
}
.best-plan__title + p{
	font-size: 18px;
	font-weight: 300;
}

.b-price-plan{
	border: 1px solid rgba(125,138,164,.25);
	max-width: 450px;
	margin: 0 auto 30px auto;
	background: #fff;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	-webkit-transition: opacity .35s linear, -webkit-transform .35s linear, -webkit-box-shadow .3s linear;
	transition: opacity .35s linear, -webkit-transform .35s linear, -webkit-box-shadow .3s linear;
	-o-transition: transform .35s linear, opacity .35s linear, box-shadow .3s linear;
	transition: transform .35s linear, opacity .35s linear, box-shadow .3s linear;
	transition: transform .35s linear, opacity .35s linear, box-shadow .3s linear, -webkit-transform .35s linear, -webkit-box-shadow .3s linear;
}

.b-price-plan__item{
	padding: 15px 30px;
}

.b-price-plan__head{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.b-price-plan__head > h3{
	font-size: 18px;
	text-align: center;
	position: relative;
	z-index: 1;
	margin: 0;
	letter-spacing: 1px;
}

.price_foot{
	text-align: center;
	position: relative;
	overflow: hidden;
}
.price_foot:before{
	content: '';
	position: absolute; top: 100%; left: 0;
	width: 100%;
	height: 100%;
	background: rgba(125,138,164,.1);
	-webkit-transition: top .6s linear;
	-o-transition: top .6s linear;
	transition: top .6s linear;
}

.b-price-plan__cost{
	font-size: 20px;
	font-weight: 600;
	position: relative;
	z-index: 99;
	text-align: center;
	background: rgba(125,138,164,.1);
}
.cost-title{
	font-size: 55px;
	line-height: 1;
	font-weight: 700;
	color: rgba(125,138,164,1);
}
.cost-title:before{
	content: '\f155';
	font-family: 'FontAwesome';
	display: inline-block;
	margin-right: 5px;
	font-size: 20px;
	position: relative; top: -20px;
}
.cost-title > span{
	position: relative; top: -25px; left: 5px;
    font-size: 18px;
}
.cost-time{
	font-size: 13px;
	color: rgba(125,138,164,.75);
}


.price-plan_pro{
	position: relative;
	z-index: 99;
	-webkit-box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.3);
	        box-shadow:0 0 0 6px rgba(255, 255, 255, 0.3);
}

.p_plan_list{
	padding: 0;
	margin: 0;
}
.p_plan_list > li{
	position: relative;
	padding: 15px 30px 15px 54px;
	margin: 0;
	list-style: none;
	background-color: #fff;
	border-top: 1px solid rgba(125,138,164,.1);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.p_plan_list > li:hover{
    border-color: rgba(125,138,164,.1);
	-webkit-border-radius: 5px;
	        border-radius: 5px;
    -webkit-box-shadow: 0 2px 4px rgba(125,138,164,.06);
            box-shadow: 0 2px 4px rgba(125,138,164,.06);
    position: relative;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    z-index: 99;
}

.p_plan_list > li .fa{
	color: rgba(125,138,164,1);
	margin-right: 8px;
	width: 16px;
	height: 16px;
	position: absolute; top: 50%; left: 30px;
	margin-top: -8px;
}
.p_plan_list > li .fa.text-success{
	color: rgba(160,206,78,1)!important;
}
.p_plan_list > li .fa.text-danger{
	color: rgba(253,99,71,1)!important;
}
.p_plan_list > li:first-of-type{
	border-top: none;
}

/* price_btn style */

.price_btn{
	overflow: hidden;
	position: relative;
	z-index: 99;
	margin: 15px auto;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 2px;
	color: rgba(125,138,164,1) ;
	text-decoration: none;
	text-transform: uppercase;
	width: 70%;
	border: 2px solid rgba(125,138,164,1) !important;
	background: #fff !important;
	padding: 15px 20px !important;
    -webkit-border-radius: 5px;
            border-radius: 5px;
}
.price_btn:before,
.price_btn:after{
	content: '';
	position: absolute; top: 0; left: 0;
	width: 0;
	height: 50%;
	background: rgba(125,138,164,1) !important;
	-webkit-transition: width .3s ease-in;
	-o-transition: width .3s ease-in;
	transition: width .3s ease-in;
}
.price_btn:after{
	top: auto;
	bottom: 0;
	-webkit-transition: width .4s ease-in;
	-o-transition: width .4s ease-in;
	transition: width .4s ease-in;
}
.price_btn:hover:before,
.price_btn:hover:after{
	width: 100%;
}

.price_btn > span{
	position: relative;
	z-index: 99;
}

.price_btn .fa{
	font-size: 18px;
	position: absolute; top: 50%; left: 100%;
	z-index: 99;
	width: 30px;
	opacity: 0;
	-webkit-transition: left .55s linear, opacity .55s linear;
	-o-transition: left .55s linear, opacity .55s linear;
	transition: left .55s linear, opacity .55s linear;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.price_btn:hover .fa{
	left: 80%;
	opacity: 1;
}

.price_btn:hover{
	overflow: visible;
	background: #fff;
	border-color: rgba(125,138,164,1) !important;

}
.price_btn:active,
.price_btn:focus{
	background: rgba(125,138,164,1) !important;
	border-color: rgba(125,138,164,1) !important;
}

.b-price-plan:hover{
	-webkit-box-shadow: 0 10px 20px rgba(125,138,164,.25) !important;
	        box-shadow: 0 10px 20px rgba(125,138,164,.25) !important;
}
.b-price-plan:hover .price_foot:before{
	top: 0;
}

.b_plan_body:hover .b-price-plan{
	opacity: .25;
	-webkit-transform: scale(.95);
	    -ms-transform: scale(.95);
	        transform: scale(.95);
}
.b_plan_body:hover .b-price-plan:hover{
	opacity: 1;
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}

/*Special Prices*/

#special-price {
	background-color: rgb(255,82,82);
	padding-bottom: 20px;
  padding-top: 20px;
  background: rgba(1,26,49,1);
  background: -moz-linear-gradient(top, rgba(1,26,49,1) 0%, rgba(33,180,226,1) 60%, rgba(183,222,237,1) 99%, rgba(183,222,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(1,26,49,1)), color-stop(60%, rgba(33,180,226,1)), color-stop(99%, rgba(183,222,237,1)), color-stop(100%, rgba(183,222,237,1)));
  background: -webkit-linear-gradient(top, rgba(1,26,49,1) 0%, rgba(33,180,226,1) 60%, rgba(183,222,237,1) 99%, rgba(183,222,237,1) 100%);
  background: -o-linear-gradient(top, rgba(1,26,49,1) 0%, rgba(33,180,226,1) 60%, rgba(183,222,237,1) 99%, rgba(183,222,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(1,26,49,1) 0%, rgba(33,180,226,1) 60%, rgba(183,222,237,1) 99%, rgba(183,222,237,1) 100%);
  background: linear-gradient(to bottom, rgba(1,26,49,1) 0%, rgba(33,180,226,1) 60%, rgba(183,222,237,1) 99%, rgba(183,222,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#011a31', endColorstr='#b7deed', GradientType=0 );

}

#special-price a {
	padding-left: 20vw
}

#special-price img {
	width: 40vw;
}

#special-price p {
	padding-left: 4vw;
  color: white;
}

@media (max-width: 500px) {
  #special-price img {
  	width: 40vw;
  }
}

#customers {
  background-color: white;
}

#customers h2 {
  /*color: #3a3738;*/
  color: #011A31FF;
  margin-top: 1%!important;
  padding-left: 20vw;
}

#customers img {
  width: 150px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);

  filter: gray;
}

@media (max-width: 500px) {
  #customers h2 {
    /*color: #3a3738;*/
    padding-left: 14vw;
  }

  #customers img {
  	padding-left: 22vw;
    width: 200px;
  }
}

#customers #myBtn {
    display: inline-block; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/**footer**/
.footer1{
 background-color: #212529;
 color: white;

}
.footer1 h2{
	margin: 5px;
	padding: 8px;
	font-size: 25px;


}
.footer1 a{
	color: white;
}
.footer1 a:hover{
	color: ;
}

.footer1 p{
	margin: 5px;
	padding-top: 2px;
	padding-left: 10px;
	font-size: 18px;


}
.footer1 h2{margin: 5px;
	padding: 5px;
	border-bottom: 1px solid white;


}
/*==========================footer2===========================*/
.footer2{

	background-color: rgb(255,82,82);
	color: white;

}
.footer2 p{
	margin: 8px;
	padding: 8px;
	font-size: 16px;


}
.myframegmap{

    height: 130px;
    width: 80%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;

}

.footer2 img {
  height: 20px;
}


.mobileShow {
	display:none;
}

/*Smartphone portrait and landscape*/
@media (max-width:500px){
	.mobileShow{
		display: inline;

	}
}

.mobileHide{
display: inline;
}

@media (max-width: 500px) {
	.mobileHide {
		display: none;
	}

	header {
		/*background-color: #00073AFF;*/
		background-image: url('../img/businessman.jpg');

	}
}

/*flecha animada*/

header #videoheader .arrow-down {
	padding-top: 10px;
	padding-left: 35vw;
}

@media (max-width: 500px) {
	header #videoheader .arrow-down {
		padding-top: 70vw;
	}
}

header #videoheader .arrow-down{
	position: absolute;
  bottom: 110px;
  left: 50%;
  margin-left: -10px;
  width: 21px;
  height: 29px;
  background: url('../img/arrow-down.png') no-repeat center center;
  display: block;
  -webkit-animation: bounce-fade 1.2s infinite; /* Safari 4+ */
  -moz-animation:    bounce-fade 1.2s infinite; /* Fx 5+ */
  -o-animation:      bounce-fade 1.2s infinite; /* Opera 12+ */
   animation:        bounce-fade 1.2s infinite; /* IE 10+ */
}


@-webkit-keyframes bounce-fade {
    0%   { opacity: 0; bottom: 70px; }
    100% { opacity: 1; bottom: 35px; }
}
@-moz-keyframes bounce-fade {
    0%   { opacity: 0; bottom: 70px; }
    100% { opacity: 1; bottom: 35px; }
}
@-o-keyframes bounce-fade {
    0%   { opacity: 0; bottom:70px; }
    100% { opacity: 1; bottom: 35px; }
}
@keyframes bounce-fade {
    0%   { opacity: 0; bottom: 70px; }
    100% { opacity: 1; bottom: 35px; }
}

/*Efectos*/
@media (min-width: 700px) {
  /*Transition delay*/
  .transitions {
      transition-duration: 1s;
  }

  .soft-man .translate-biz {
    transform: translateX(-100px);
    transition: 0s 180s;
  }

  .soft-man:hover .translate-biz {
    transform: translateX(0px);
    transition:.3s;
  }

  .bridge-software .translate {
    transform: translateY(120px);
    transition: 0s 180s;
  }

  .bridge-software:hover .translate{
    transform: translateY(-20px);
    transition:.3s;
  }

  .bridge-software .wording {
    transform: translateX(-500px);
    transition: 0s 180s;
  }

  .bridge-software:hover .wording {
    transform: translateX(0px);
    transition:.3s;
  }

  .tecnologies img {
    transform: rotateY(0deg);
  }

  .tecnologies:hover img {
    transform: rotateY(360deg);
  }
}
